.bageContact {
    height: 100%;
    width: 100%;
    background-color: hsla(207, 62%, 9%, 0.997) ;
margin-top: 70px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.bageContact h1 {
    width: 100%;
    text-align: center;
    color: rgb(70, 177, 196);
    font-weight: 700;
    padding-top: 50px;
}
.continueContct {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.nameFraction , .emailFraction , .cityFraction , .messageFraction , .sendingButton {
    width: 100%;
padding-bottom: 20px;
padding-top: 20px;
}
.nameFraction input , .emailFraction input , .cityFraction select , .messageFraction textarea   {
    width: 100%;
border-radius: 12px;
outline: none;
border: 0;
padding-left: 30px;
font-size: 1.2em;
height: 50px;
font-weight: 500;
}
.sendingButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sendingButton button {
    width: 30%;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 1.4em;
    color: white;
    border-radius: 12px;
border: 0;
}
.deleteBtn {
background-color: red;
font-family: sans-serif;
}
.sendBtn {
    background-color: rgb(70, 177, 196);
    font-family: sans-serif;
}
.anotherWay {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.googleAc {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.whatsAcc {
    padding-top: 15px;
    text-decoration: none;
font-size: 1.3em;
color: white;
transition: .5s ease;
}
.whatsAcc:hover {
    color: green;
}
.arroIcon {
    color: white;
    font-weight: 600;
    padding-left: 10px;
}
@media (max-width:900px) {
    .continueContct {
        width: 80%;
     
    }
}
@media (max-width:531px) {
    .continueContct {
        width: 95%;
     
    }
    .sendingButton {
        display: flex;
        flex-direction: column;
margin: auto;
gap: 20px;
}

    .sendingButton button {
        width: 80%;
    margin: auto;
    }
}
select option {
    color: rgb(20, 76, 86);
    font-family: sans-serif;
    font-weight: 700;
    border-bottom:2px solid black ;
cursor: pointer;
}



@media (max-width:421px) {

  
    .nameFraction , .emailFraction , .cityFraction , .messageFraction , .sendingButton {
        width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    .nameFraction input , .emailFraction input , .cityFraction select , .messageFraction textarea   {
        width: 100%;
    border-radius: 12px;
    outline: none;
    border: 0;
    padding-left: 30px;
    font-size: 1.2em;
    height: 50px;
    font-weight: 500;
    }
  
    .sendingButton button {
        width: 40%;
        padding: 8px 12px;
        font-weight: 600;
        font-size: 1.3em;
    }
   
    .anotherWay {
        width: 99%;
        margin: auto;
  
    }
    .googleAc {
        font-size: 1.2em;
    }
    .whatsAcc {
    font-size: 1.2em;
    }
 
}

.emailOverAlert , .nameOverAlert , .bothOverAlert {
    width: 100%;
    height: 100vh;
    bottom: 0;
    top: 0;
    right:0 ;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}
.nameCardAlert , .bothCardAlert , .emailCardAlert {
width: 300px;
height: 180px;
border-radius: 12px;
padding: 10px;
background-color: rgb(216, 216, 216);
display: flex;
flex-direction: column;
justify-content: space-between;
}
.closediv {
    width: 100%;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    direction: rtl;
    border-bottom:2px solid rgb(162, 162, 162);
    font-size: 1.2em;
}
.nameBodyOfAlert {
width: 100%;
direction: ltr;
font-weight: 700;
color: black;

}
.nameBtnAlert {
    width: 100%;
    bottom: 0;
}
.nameBtnAlert button {
    border-radius: 12px;
    color: white;
    background-color: rgb(20, 76, 86);
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 15px;
    border: 0;
    
}
.emailBtnAlert button {
    border-radius: 12px;
    color: white;
    background-color: rgb(20, 76, 86);
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 15px;
    border: 0;
    
}
.bothBtnAlert button {
    border-radius: 12px;
    color: white;
    background-color: rgb(20, 76, 86);
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 15px;
    border: 0;
    
}