.btn {
    font-weight: 620;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    color: rgb(66, 66, 66);

}
.bodyNav {
    display: flex;
    flex-direction: column;
      height: 100%;
gap: 20px;

}
.btn:focus {
border: 0;
outline: none;
}
.btn:active {
    border: 0;
    outline: none;
}
.dropdown-item {
    background-color: white;
    font-weight: 620;
    font-family: sans-serif;
}
.listSides {
    font-size: 1.8em;
    border: 0;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
    color: white;
    

}
.fontAwsemList {
    font-size: 1.6em;
    padding-bottom: 5px;
    font-weight: 700;

}
.offcanvas {
    background-color: rgba(9, 25, 38, 0.997) !important;

}
.offcanvas-title {
    color: white;
    display: block;
    font-size: 1.5em;
}
.yTitle {
    color: rgb(70, 177, 196);

}
.closBtn {
    color: white;
    display: inline-block;
    background-color: rgba(7, 28, 45, 0.997) !important;
    border: 0;
    outline: none;
    direction: rtl;
    font-size: 1.3em;

}
.offcanvas-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navi-linkr {
    text-decoration: none;
}
.oneLinkOnSider {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.iconWithOneLinkr {
    padding-right: 10px;
}


.oneLinkOnSider:hover .iconForLinkr {
    color: rgb(70, 177, 196);
}
.oneLinkOnSider:hover .icoryr {
    color: rgb(70, 177, 196);
}

.navi-linkr.activer .icoryr , .navi-linkr.activer .iconForLinkr {
    color: rgb(70, 177, 196);
}



@media (max-width:975px) {
    .btn {
        font-weight: 700;
        font-size: .9em;
    
    }

}

@media (max-width:863px) {

.listSides {display: flex;}


}




@media (max-width:445px) {
    .offcanvas , .offcanvas-start {
        width: 280px !important;
        background-color: rgba(7, 28, 45, 0.997) !important;

    }




}
@media (max-width:327px) {
    .offcanvas , .offcanvas-start {
        width: 240px !important;
        background-color: rgba(9, 25, 38, 0.997) !important;
        

    }




}