.skillSection {
margin-top: 80px;

width: 100%;
min-height: 100vh;
height: 100%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: hsla(207, 62%, 9%, 0.997) ;

}
.skillSection h1 {
    font-weight: 700;
    font-size: 3em;
    width: 100%;
    text-align: center;
    color: rgb(70, 177, 196); 
padding-top: 50px;
padding-bottom: 50px;
}
.btnCategories {
    width: 100%;
    padding-left: 15px;
    gap: 20px;

}
.btnCategories button {
    padding: 10px 12px;
    border: 0;
    font-weight: 600; 
    margin-right: 10px;
    border-radius: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.2em;
font-weight: 700;
}
@media (max-width:519px) {
    .btnCategories button {
        margin-bottom: 16px;
    }
}
@media (max-width:479px) {
    .btnCategories button {
        margin-bottom: 15px;
    }
}